div.container(class='text-center')
	div.row(class='top-space')
		div.col-md-6
			ul.social
				li.facebook
					a(href='https://www.facebook.com/csulb.akpsi', target='_blank')
						i.fa.fa-facebook-square
				li.instagram
					a(href='https://www.instagram.com/csulbakpsi', target='_blank')
						i.fa.fa-instagram
				li.twitter
					a(href='https://twitter.com/csulbakpsi', target='_blank')
						i.fa.fa-twitter
		div.col-md-6
			strong
				p(class='raleway', style='font-size: 12px') DESIGN/DEVELOPMENT/PHOTOS BY  
					a(href='https://github.com/derrickhnguyen' target='_blank' style='color:#3498db') DERRICK NGUYEN
