div.container(class='top-bot-space text-center')
	div.row
		div.col-md-12
			strong
				p(class='raleway', style='font-size: 12px') DESIGN/DEVELOPMENT/PHOTOS BY  
					a(href='http://derrickhnguyen.com/' target='_blank' style='color:#8bc4ea') DERRICK NGUYEN

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
script(src='/assets/javascripts/min/vendor.js')
