div.container-fluid#footer(class='top-bot-space')
	div.container(class='text-center')
		div.row
			div.col-md-6
				ul.social
					li.facebook
						a(href='https://www.facebook.com/csulb.akpsi', target='_blank')
							i.fa.fa-facebook-square
					li.instagram
						a(href='https://www.instagram.com/csulbakpsi', target='_blank')
							i.fa.fa-instagram
					li.twitter
						a(href='https://twitter.com/csulbakpsi', target='_blank')
							i.fa.fa-twitter-square
			div.col-md-6
				strong
					p(class='raleway', style='font-size: 12px;') DESIGN BY
						a(href='https://www.linkedin.com/in/hamichellen' target='_blank' style='color:#3498db')   MICHELLE HA
						|  // DEVELOPMENT BY
						a(href='https://www.linkedin.com/in/derrickhoangnguyen' target='_blank' style='color:#3498db')   DERRICK NGUYEN
						|  // Icons created by H.ALBERTO GONGORA from NOUN PROJECT

