div.container(class='text-center')
	div.row
		div.col-md-12
			strong
				p(style='color:#787878; font-size: 12px;') PHOTOS AND WEB DESIGN IMPLEMENTATION BY  
					a(href='http://derrickhnguyen.com/' target='_blank' style='color:#C4C4C4; text-decoration:underline;') DERRICK NGUYEN

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
script(src='/assets/javascripts/min/vendor.js')
