div.container(class="bot-space text-center footer merriweather")
	hr(class="bottom-space" style="border:1px solid #000000;")
	div.row
		div.col-md-3
			p
				strong
					i VP of Membership
				br
				|	Darrin Nguyen
				br
				| +1-714-653-5757
				br
				|	membership.csulb.akpsi@gmail.com
		div.col-md-3
			p
				strong
					i Director of Maketing
				br
				| Vivian To
				br
				|	+1-323-303-0109
				br
				|	csulb.akpsi@gmail.com
		div.col-md-3
			p
				strong
					i Webmaster
				br
				|	Derrick Nguyen
				br
				|	+1-714-414-2381
				br
				|	derrickhnguyen@outlook.com
		div.col-md-3
			p
				strong CALIFORNIA STATE UNIVERSITY, LONG BEACH
				br
				|	1250 Bellflower Boulevard
				br
				|	Long Beach, California 90840
	div.row.copyright
		div.col-md-12
			strong
				p Copyright &copy; 2015 Alpha Kappa Psi - Delta Omicron Chapter. All Rights Reserved.
					br
					|	Alpha Kappa Psi Official Website
					br
					a(href="http://akpsi.org/", target="_blank") httP:://www.akpsi.org/

script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
script(src="/assets/javascripts/script.js")
script(src="/assets/javascripts/lightbox.js")
script(src="/assets/javascripts/parallax.min.js")
script(src="/assets/javascripts/jquery.nicescroll.min.js")
