head

	title= "CSULB Alpha Kappa Psi"

	meta(name="description", content="The Official Website of Alpha Kappa Psi Delta Omicron Chapter of California State University, Long Beach")
	meta(name="keywords", content="CSULB, AKPsi, Delta, Omicron, Chapter")
	meta(name="author", content="Derrick Nguyen")
	meta(charset="utf-8")

	meta(name="viewport", content="width=device-width, initial-scale=1")

	link(href="https://fonts.googleapis.com/css?family=Merriweather:700", rel="stylesheet", type="text/css")
	link(href="https://fonts.googleapis.com/css?family=Raleway:300", rel="stylesheet", type="text/css")
	link(href="https://fonts.googleapis.com/css?family=Montserrat", rel="stylesheet", type="text/css")

	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
	link(rel="stylesheet", type="text/css", href="/assets/stylesheets/main.css")
	link(rel="stylesheet", type="text/css", href="/assets/stylesheets/lightbox.css")