extends layout

block content
	div.container(class='top-bot-space')
		div.row
			div.col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-0
				img.img-responsive(src='/assets/images/min/akpsi-delta-omicron-chapter-csulb-group-photo.jpg', alt='Group Photo')
			div.col-xs-12.col-md-6
				h3(class='raleway') 
					b ALPHA KAPPA PSI AT THE BEACH
				p The Delta Omicron Chapter of Alpha Kappa Psi at California State University, Long Beach was rechartered in Spring 2012. Since then, we have developed both professionally and personally every Brother that has joined that chapter. The community we created has given us the opportunity to expand our connections as well as develop lifelong friendships.
				p Within the span of just five years, our chapter has grown more than ever. Not only is Delta Omicron filled with driven young professionals, our alumni have worked and interned for many great companies such as NASA, Raytheon, Boeing, Google, Disney, and LA Fashion Week. Our chapter firmly believes in developing principled business leaders. With each semester,we hope to gain more members, thus expanding our network and Alpha Kappa Psi on campus.

		div.row(class='top-bot-space top-bot-space-pd text-center blue-background white')
			div.col-xs-12
				h3 SPRING 2017 CHAPTER DEMOGRAPHICS
			div.col-xs-12.col-md-4
				img.img-responsive(src='/assets/images/icons/bar-graph-icon.png', alt='Bar Graph Icon')
				p YEAR IN SCHOOL
			div.col-xs-12.col-md-4
				img.img-responsive(src='/assets/images/icons/pie-graph-icon.png', alt='Pie Graph Icon')
				p MAJOR
			div.col-xs-12.col-md-4
				img.img-responsive(src='/assets/images/icons/gender-icon.png', alt='Gender Icon')
				p GENDER

		div.row
			div.col-xs-12.col-md-6
				h3(class='raleway')
					b A LITTLE BIT OF HISTORY
				p Alpha KAppa Psi is a co-ed professional business fraternity that was established on the principles of educating its members and the public to appreciate and demand higher ideals in business. Our missions is to further the individual welfare of our members throughout college and beyond.
				p Our fraternity was founded on October 5th, 1904 by our ten Founding Fathers at New York University. Together, they created an environment where college men and women can uncover their true potential and develop themselves as professionals. Students all across the world join Alpha Kappa Psi to take advantage of the valuable education, friendship, and networking opportunities.
				p Today, we are the world's largest professional business fraternity. With over 240,000 members and 200 chapters, we are among the top 20 largest college fraternities. Alpha Kappa Psi provides leadership development, professional training, and lifelong experience oppourtunities.
			div.col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-0
				img#crest.img-responsive(src='/assets/images/icons/crest.png', alt='Coat of Arms')

	//- div.container-fluid(class='parallax-window darken white text-center top-bot-space-pd', data-parallax='scroll', data-image-src='/assets/images/banners/min/akpsi-delta-omicron-chapter-csulb-pyramid.jpg', data-position='center', data-natural-width='1024', data-natural-height='575', style={'height':'60%'})
	//- 	div.row
	//- 		div.col-xs-12.col-md-4(class='col-pd')
	//- 			img.img-responsive(class='icon' src='/assets/images/icons/akpsi-delta-omicron-chapter-csulb-brotherhood-icon.png', alt='Brotherhood Icon')
	//- 			h3 BROTHERHOOD
	//- 			p Trust, respect, cooperation, companionship, and aid to Brother Members is the expected norm.
	//- 		div.col-xs-12.col-md-4(class='col-pd')
	//- 			img.img-responsive(class='icon' src='/assets/images/icons/akpsi-delta-omicron-chapter-csulb-brotherhood-icon.png', alt='Brotherhood Icon')
	//- 			h3 KNOWLEDGE
	//- 			p Education and experience, whether gained in the classroom or the workplace, is emphasized and shared.
	//- 		div.col-xs-12.col-md-4(class='col-pd')
	//- 			img.img-responsive(class='icon' src='/assets/images/icons/akpsi-delta-omicron-chapter-csulb-brotherhood-icon.png', alt='Brotherhood Icon')
	//- 			h3 INTEGRITY
	//- 			p All actions, whether in business or in life, are guided by honesty, ethics, and fariness.
	//- 	div.row
	//- 		div.col-xs-12.col-md-6(class='col-pd-lg')
	//- 			img.img-responsive(class='icon' src='/assets/images/icons/akpsi-delta-omicron-chapter-csulb-brotherhood-icon.png', alt='Brotherhood Icon')
	//- 			h3 BROTHERHOOD
	//- 			p Trust, respect, cooperation, companionship, and aid to Brother Members is the expected norm.
	//- 		div.col-xs-12.col-md-6(class='col-pd-lg')
	//- 			img.img-responsive(class='icon' src='/assets/images/icons/akpsi-delta-omicron-chapter-csulb-brotherhood-icon.png', alt='Brotherhood Icon')
	//- 			h3 KNOWLEDGE
	//- 			p Education and experience, whether gained in the classroom or the workplace, is emphasized and shared.