doctype html
html
	
	include ./includes/header.pug

	body

		include ./includes/navigation.pug

		div.container-fluid.main
			div.container(class="top-bot-space text-center")

				//Start of Executive Officers
				div.row
					div.col-md-12
						h2(class="raleway")
							strong Executive Officers
						div
							a(href="/assets/images/headshots/branden-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/branden-headshot-sm.jpg", alt="Branden Saito")
						p
							strong Chapter President
							br
							|	Branden Saito

				div.row(class="top-space")
					div.col-md-3.col-xs-6
						div
							a(href="/assets/images/headshots/logan-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/logan-headshot-sm.jpg", alt="Logan Wong")
						p
							strong Vice President of Administration
							br
							|	Logan Wong

					div.col-md-3.col-xs-6
						div
							a(href="/assets/images/headshots/darrin-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/darrin-headshot-sm.jpg", alt="Darrin Nguyen")
						p
							strong Vice President of Membership
							br
							|	Darrin Nguyen

					div.col-md-3.col-xs-6
						div
							a(href="/assets/images/headshots/no-photo-sm.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/no-photo-sm.jpg", alt="Andrew Chu")
						p
							strong Vice President of Finance
							br
							|	Andrew Chu

					div.col-md-3.col-xs-6
						div
							a(href="/assets/images/headshots/derrick-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/derrick-headshot-sm.jpg", alt="Derrick Nguyen")
						p
							strong Vice President of Alumni Relations
							br
							|	Derrick Nguyen

				div.row(class="top-space")
					div.col-md-3.col-xs-6
						div
							a(href="/assets/images/headshots/eileen-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/eileen-headshot-sm.jpg", alt="Eileen Tran")
						p
							strong Secretary
							br
							|	Eileen Tran

					div.col-md-3.col-xs-6
						div
							a(href="/assets/images/headshots/michelle-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/michelle-headshot-sm.jpg", alt="Michelle Ha")
						p
							strong Historian
							br
							|	Michelle Ha

					div.col-md-3.col-xs-6
						div
							a(href="/assets/images/headshots/no-photo-sm.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/no-photo-sm.jpg", alt="Timothy Chau")
						p
							strong Warden
							br
							|	Timothy Chau
							
					div.col-md-3.col-xs-6
						div
							a(href="/assets/images/headshots/austin-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/austin-headshot-sm.jpg", alt="Austin Yao")
						p
							strong Master of Rituals
							br
							|	Austin Yao
				//END OF EXECUTIVE OFFICERS

				//Start of Directors
				div.row(class="top-space")
					div.col-md-12
						h2(class="raleway")
							strong Directors
				div.row
					div.col-md-3.col-xs-6
						div
							a(href="/assets/images/headshots/no-photo-sm.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/no-photo-sm.jpg", alt="Kelsey Yonemura")
						p
							strong Director of Brotherhood
							br
							|	Kelsey Yonemura

					div.col-md-3.col-xs-6
						div
							a(href="/assets/images/headshots/no-photo-sm.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/no-photo-sm.jpg", alt="Tim Han")
						p
							strong Director of Professional
							br
							|	Tim Han

					div.col-md-3.col-xs-6
						div
							a(href="/assets/images/headshots/no-photo-sm.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/no-photo-sm.jpg", alt="Alain Lopez")
						p
							strong Director of Fundraising
							br
							|	Alain Lopez

					div.col-md-3.col-xs-6
						div(class="top-space")
							a(href="/assets/images/headshots/no-photo-sm.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/no-photo-sm.jpg", alt="Vivian To")
						p
							strong Director of Marketing
							br
							|	Vivian To
				//END OF DIRECTORS

				//Start of Committee Chairs
				div.row(class="top-space")
					div.col-md-12
						h2(class="raleway")
							strong Committee Chairs
				div.row
					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/austin-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/austin-headshot-sm.jpg", alt="Austin Yao")
						p
							strong Audit Chair
							br
							|	Austin Yao

					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/derrick-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/derrick-headshot-sm.jpg", alt="Derrick Nguyen")
						p
							strong Web Master
							br
							|	Derrick Nguyen

					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/denny-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/denny-headshot-sm.jpg", alt="Denny Co")
						p
							strong Inter-Chapter Chair
							br
							|	Denny Co

					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/no-photo-sm.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/no-photo-sm.jpg", alt="Timothy Chau")
						p
							strong Inter-Chapter Chair
							br
							|	Timothy Chau

				div.row(class="top-space")
					div.col-md-3.col-xs-6
						div
							a.-img-responsive(href="/assets/images/headshots/melissa-2015-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/melissa-2015-sm.jpg", alt="Melissa Thai")
						p
							strong Retreat Chair
							br
							|	Melissa Thai

					div.col-md-3.col-xs-6
						div
							a.-img-responsive(href="/assets/images/headshots/rose-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/rose-headshot-sm.jpg", alt="Rose Solis")
						p
							strong Banquet Chair
							br
							|	Rose Solis
				//End of Committee Chairs

				//Start of Active Brothers
				div.row(class="top-space")
					div.col-md-12
						h2(class="raleway")
							strong Active Brothers
				div.row
					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/no-photo-sm.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/no-photo-sm.jpg", alt="Alain Lopez")
						p Alain Lopez

					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/austin-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/austin-headshot-sm.jpg", alt="Austin Yao")
						p Austin Yao

					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/branden-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/branden-headshot-sm.jpg", alt="Branden Saito")
						p Branden Saito

					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/darrin-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/darrin-headshot-sm.jpg", alt="Darrin Nguyen")
						p Darrin Nguyen

				div.row(class="top-space")
					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/denny-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/denny-headshot-sm.jpg", alt="Denny Co")
						p Denny Co

					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/derrick-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/derrick-headshot-sm.jpg", alt="Derrick Nguyen")
						p Derrick Nguyen

					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/eileen-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/eileen-headshot-sm.jpg", alt="Eileen Tran")
						p Eileen Tran

					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/no-photo-sm.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/no-photo-sm.jpg", alt="Kelsey Yonemura")
						p Kelsey Yonemura

				div.row(class="top-space")
					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/logan-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/logan-headshot-sm.jpg", alt="Logan Wong")
						p Logan Wong

					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/melissa-2015-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/melissa-2015-sm.jpg", alt="Melissa Thai")
						p Melissa Thai

					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/michelle-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/michelle-headshot-sm.jpg" alt="Michelle Ha")
						p Michelle Ha

					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/no-photo-sm.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/no-photo-sm.jpg", alt="Metita Tuileata")
						p Metita Tuileata

				div.row(class="top-space")
					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/rose-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/rose-headshot-sm.jpg", alt="Rose Solis")
						p Rose Solis

					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/no-photo-sm.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/no-photo-sm.jpg", alt="Shaina Williams")
						p Shaina Williams

					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/no-photo-sm.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/no-photo-sm.jpg", alt="Timothy Chau")
						p Timothy Chau

					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/no-photo-sm.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/no-photo-sm.jpg", alt="Tim Han")
						p Tim Han

				div.row(class="top-space")
					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/victor-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/victor-headshot-sm.jpg", alt="Victor Vo")
						p Victor Vo

					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/no-photo-sm.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/no-photo-sm.jpg", alt="Vivian To")
						p Vivian To

					div.col-md-3.col-xs-6
						div
							a.img-responsive(href="/assets/images/headshots/vu-headshot-lg.jpg", data-lightbox="groupies")
								img.img-responsive.img-thumbnail.headshot(src="/assets/images/headshots/vu-headshot-sm.jpg", alt="Vu Nguyen")
						p Vu Nguyen

			include ./includes/backtotop.pug
			include ./includes/footer.pug