extends layout

block content
	div.container(class='top-bot-space')
		div.row
			div.col-md-6(class='top-bot-space text-center')
				h3
					strong CALIFORNIA STATE UNIVERSITY,
						br
						|	Long Beach
					br
				h5
					strong
						i 1250 Bellflower Boulevard
							br
							|	Long Beach, CA 90840
				div.map-responsive
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3316.1033990987294!2d-118.11627908437463!3d33.78382793927384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd31d82982f643%3A0x1fdc7f26cec72dab!2sCalifornia+State+University+Long+Beach!5e0!3m2!1sen!2sus!4v1451944316374', width='600', height='450', frameborder='0', style='border:0', allowfullscreen)
			div.col-md-6(id="react-contact" class='top-bot-space', style='padding-top:30px;')
			script(type="text/babel" src="/assets/javascripts/react/contact.js")