doctype html
html
	
	include ./includes/header.pug

	body

		include ./includes/navigation.pug
		
		div.container-fluid.main

			// First Parallax
			div.container-fluid(class="parallax text-center home")
				h1.font-lg ALPHA KAPPA PSI
				h2 The World's Largest &amp; Oldest Co-Ed Professional Business Fraternity Since 1904


			div.row(class="top-bot-space text-center")
				div.col-md-12
					h3.hideme
						strong AN EXPERIENCE &amp; A JOUNEY
					h4.hideme "If you want to go fast, go alone. If you want to go far, go together."
					h4.hideme
						i &mdash; African Proverb


			// Second Parallax
			div.container-fluid(class="parallax text-center investment")
				h1.font-lg INVEST IN YOUR SELF
				h2 Alpha Kappa Psi is recognized as the premier developer of principled business leaders


			// VALUES
			div.container(class="top-bot-space text-center")
				div.row
					div.col.xs-12.col-md-12
						h2(class="gold merriweather hideme") Our Values
						
				div.row
					div.col-xs-12.col-md-4
						img.hideme.img-responsive(src="/assets/images/brotherhood-icon.gif", alt="Brotherhood Icon")
						h4.hideme(class="gold") BROTHERHOOD
						p.hideme Our brotherhood is the backbone of the fraternity. Brotherhood is that common bond we share with not only our chapter brothers but also our brothers from all over the globe. Trust, respect, cooperation, companionship and aid to brothers is the expected norm
					div.col-xs-12.col-md-4
						img.hideme.img-responsive(src="/assets/images/professional-icon.gif", alt="Professional Icon")
						h4.hideme(class="gold") PROFESSIONAL DEVELOPMENT
						p.hideme When you join Alpha Kappa Psi, you join an elite group of professionals who are committed to keeping their skills sharp and careers on track. Members gain many valuable skills on the local level as they operate their chapters as "franchises” of Alpha Kappa Psi. Such professional development, when marketed to employers, will set you apart from your peers.
					div.col-xs-12.col-md-4
						img.hideme.img-responsive(src="/assets/images/leadership-icon.gif", alt="Leadership Icon")
						h4.hideme(class="gold") LEADERSHIP
						p.hideme Alpha Kappa Psi provides many programs such as the College of Leadership Program that provides students and alumni with advanced chapter management and person development skills. These programs are designed to be interactive discussions to give attendees the opportunities to learn and share ideas from business professionals, AKPsi leaders and chapters from across the Fraternity.

				div.row
					div.col-xs-12.col-md-4.col-md-offset-2
						img.hideme.img-responsive(src="/assets/images/knowledge-icon.gif", alt="Knowledge Icon")
						h4.hideme(class="gold") KNOWLEDGE
						p.hideme Through professional development, educational programs, community service and a hands-on application of formal education, Alpha Kappa Psi  students use the business skills they are taught in the classroom to acquire life skills such as the art of compromise, consensus building, project management, team building and networking that will build leadership skills.
					div.col-xs-12.col-md-4
						img.hideme.img-responsive(src="/assets/images/service-icon.gif", alt="Service Icon")
						h4.hideme(class="gold") SERVICE
						p.hideme Alpha Kappa Psi encourages each member to improve his or her campus and community. This, combined with chapter philanthropy and service projects, result in a level of service unmatched by other college organizations. Thousands of hours and dollars are contributed to worthy charities by Alpha Kappa Psi chapters each year—now that’s making a difference!



			//Third Parallax
			div.container-fluid(class="parallax text-center statistics")
				h1.font-lg 2015 FRATERNITY STATISTICS
				h2.font-md Did you know that we have...
				br
				h3 233 ACTIVE CHAPTERS?
					br
					br
					|	OVER 50 ALUMNI CHAPTERS?
					br
					br
					| MORE THAN 240,000 MEMBERS?
					br
					br
					| EST. ON 300+ CAMPUSES WORLDWIDE


			// STATEMENTS
			div.container(class="top-bot-space text-center")
				div.row
					div.col-md-12.col-xs-12
						h2.hideme(class="gold merriweather") Past, Present, Future
				div.row
					div.col-md-4.col-xs-6
						img.hideme.img-responsive(class="top-space", src="/assets/images/alumni-2015.jpg", alt="Class of 2015")
					div.col-md-4.col-xs-6
						img.hideme.img-responsive(class="top-space", src="/assets/images/akpsi-brothers.jpg", alt="Brothers of AKPsi")
					div.col-md-4.col-xs-12
						//Changed jpg to JPG in this photo
						img.hideme.img-responsive(class="top-space", src="/assets/images/rush-2015.JPG", alt="Fall Rush 2015")

				div.row
					div.col-md-6.col-xs-12(class="top-space")
						h4.hideme(class="blue") ALUMNI MEMBER STATEMENTS
						p.hideme(class="align-left")
							q
								i I was looking for an organization that had the "Whole-shabang." I happened to find that with Alpha Kappa Psi. It offered everything from service, social, cultural diversity, and professionalism (an aspect that many other fraternities and sororities didn't have). AKPsi has taught me many things, including the core values that will shape me into a principled business leader. If you want to be surrounded by a group of driven individuals, who will push you to excel above your limits, look no further; its AKPsi.
							br
							span(class="float-right")
								i
									strong &ndash; Jason Truong
						br
						br
						p.hideme(class="align-left")
							q
								i As an active member, I was able to practice what I learned in the classroom. Being historian helped me learn and grow as an artist. I was in a fail-safe learning environment that provided me the tools to succeed once I completed my education. The single most important thing I gained from being in Alpha Kappa Psi was a group of individuals who pushed me to better myself as a person. They helped build my confidence and believed in me as an artist. They believed in me when I felt incompetent. They were overfilled with joy when something marvelous happened. Some even stayed in an art room with me 'til 4 in the morning while I finished up a project. They are my brothers and they always will be.
							br
							span(class="float-right")
								i
									strong &ndash; Kathy Ramirez
					div.col-md-6.col-xs-12(class="top-space")
						h4.hideme(class="blue") ACTIVE BROTHER STATEMENTS
						p.hideme(class="align-right")
							q
								i With only a semester in Alpha Kappa Psi, I was already able to land my first internship in the A/V industry as a sophomore. The Fraternity help me gain confidence in myself to speak comfortably among big crowds as well as intimate ones for in-person interviews. Alpha Kappa Psi is my safe net zone where I am able to learn and grow professionally and personally.
							br
							span(class="float-right")
								i
									strong &ndash; Derrick Nguyen
						br
						br
						p.hideme(class="align-right")
							q
								i Alpha Kappa Psi has shown me how important it is to be able to compromise and collaborate with a diverse group of individuals. Everyone is different and being able to adapt according to specific people improved my communication skills. In addition, it helped me develop professional skills that helped me with my resume, time management abilities and presentation skills. But more than that, this fraternity has given me friendships that I know will extend beyond the chapter and last for years to come.
							br
							span(class="float-right")
								i
									strong &ndash; Michelle Ha

				div.row(class="top-space")
					div.col-md-12
						h4.hideme(class="blue") WHO'S THE FUTURE?
						h3.hideme(class="gold font-lg") YOU ARE
						h4.hideme(class="blue")
							i BECOME APART OF THE WORLD'S LARGEST CO-ED PROFESSIONAL BUSINESS FRATERNITY TODAY!
				div.row.hideme
					div.col-md-12
						a.btn.btn-default.btn-lg(class="top-space merriweather", href="recruitment.html", role="button" style="border:1px solid #000000;") RECRUITMENT



			// Fourth Parallax
			div.container-fluid(class="parallax connect")
				h1.header(class="text-center") Connect with us!
				div.row
					div.col-md-12
						ul.fa-ul.social
							li.facebook
								a(href="https://www.facebook.com/csulb.akpsi/?fref=ts", target="_blank")
									img(src="/assets/images/facebook-icon.png" alt="Facebook Icon")
							li.twitter
								a(href="https://twitter.com/CSULBAKPsi", target="_blank")
									img(src="/assets/images/twitter-icon.png", alt="Twitter Icon")
							li.instagram
								a(href="https://www.instagram.com/csulbakpsi/", target="_blank")
									img(src="/assets/images/instagram-icon.png", alt="Instagram Icon")

			include ./includes/backtotop.pug
			include ./includes/footer
