doctype html
html
	
	include ./includes/header.pug

	body

		include ./includes/navigation.pug
		
		div.container-fluid.main

			div.container-fluid(class="parallax open-sans text-center home")
				h1
					strong ALPHA KAPPA PSI
				h2
					strong Shaping People, Shaping Business

		include ./includes/scripts.pug

		
