extends layout
block content
	div#about.container(class='top-bot-space')
		div.row
			div.col-xs-12.col-md-6
				h3 WHAT IS ALPHA KAPPA PSI?
				p Alpha Kappa Psi is the world's oldest and largest co-ed professional business fraternity. Since its founding in 1904, the fraternity is recognized as the premier developer of principled business leaders. Today, the fraternity has over 240,000 initiated members and more than 200 active chapters that span across the United States, Canada, United Kingdom, Hong Kong, and the United Arab Emirates.
				p We are one of the two professional business fraternities at California State University, Long Beach. As a chapter, we focus on developing professional skills. creating lasting connections, and enhancing the overall college experience. We recognize the universal aspects of business and pride ourselves in being all-inclusive, regardless of major. If you are looking for the perfect balance of social and professional in an organization, look no further. The Delta Omicron Chapter invites you to learn more about us at our upcoming Spring 2017 recruitment events.
			div.col-xs-12.col-md-6
				img.img-responsive(src='/assets/images/min/akpsi-delta-omicron-chapter-csulb-rush-fall-2016.jpg', alt='Fall Rush 2-16')

		div.row(class='top-bot-space top-bot-space-pd text-center blue-background white')
			div.col-xs-12.col-md-3
				img.img-responsive(class='small-picture' src='/assets/images/icons/akpsi-delta-omicron-chapter-csulb-member-icon.png', alt='Membership Icon')
				h3(class='top-space-pd-sm') 240,000+
				p Initiated members
			div.col-xs-12.col-md-3
				img.img-responsive(class='small-picture' src='/assets/images/icons/akpsi-delta-omicron-chapter-csulb-global-icon.png', alt='Global Icon')
				h3(class='top-space-pd-sm') 223
				p Active chapters
			div.col-xs-12.col-md-3
				img.img-responsive(class='small-picture' src='/assets/images/icons/akpsi-delta-omicron-chapter-csulb-network-icon.png', alt='Network Icon')
				h3(class='top-space-pd-sm') 15,860
				p Active members
			div.col-xs-12.col-md-3
				img.img-responsive(class='small-picture' src='/assets/images/icons/akpsi-delta-omicron-chapter-csulb-success-icon.png', alt='Success Icon')
				h3(class='top-space-pd-sm') 46
				p Alumni chapters

		div.row(class='top-bot-space top-box-space-pd')
			div.col-xs-12
				h3 SHAPING PEOPLE, SHAPING BUSINESS
			div.col-xs-12.col-md-6
				img.img-responsive(src='/assets/images/min/akpsi-delta-omicron-chapter-csulb-zeta-class.jpg', alt='Fall Rush 2-16')
				h4(class='top-space-pd-sm') BUILDING BROTHERHOOD
				p At its center, our fraternity values a sense of civic duty and respect for individual members and the chapter as a whole. Built upon bonds established between each member, past and present, our network continuously grows stronger with each passing year. It is not only relationships that last in college, but also lifelong friendships.
			div.col-xs-12.col-md-6
				img.img-responsive(src='/assets/images/min/akpsi-delta-omicron-chapter-csulb-iota-class.jpg', alt='Fall Rush 2-16')
				h4(class='top-space-pd-sm') PROFESSIONAL DEVELOPMENT
				p Our fraternity understands that professionalism is required within all industries and strives to create oppourtunities where our Brothers can work to become principled business leaders and succeed in anything they do. From perfecting their curriculum vitae to landing their dream internship, our Brothers are there for each other every step of the way.

	div.container-fluid(class='parallax-window darken', data-parallax='scroll', data-image-src='/assets/images/banners/min/akpsi-delta-omicron-chapter-csulb-calson-tower.jpg', data-position='center', data-natural-width='1702', data-natural-height='630', style={'height':'60%'})
		div.title(class='text-center open-sans')
			h2
				i JOIN THE WORLD'S OLDEST AND LARGEST PROFESSIONAL CO-ED BUSINESS FRATERNITY
			button.btn.btn-warning(class='top-space-sm' type='button')
				h4 RUSH AKPSI

