extends layout

block content
	div.container(class='top-bot-space text-center')
		div.row
			div.col-sm-4(class='top-bot-space')
				div
					img.img-responsive(src='/assets/images/companies/disney.png')
				strong
					p(class='quote')
						em
							q AKPsi has taught me how to draft resumes and how to develop my interview skills. it has also taught me brotherhood and how to be reliable, so I can always be there for my brothers when they need me most.
					p(class='author align-right') - Carin Crayne, Zeta Class
						br
						| Undergraduate Associate, Marvel Licensing at Disney
			div.col-sm-4(class='top-bot-space')
				div
					img.img-responsive(src='/assets/images/companies/google-logo.png')
				strong
					p(class='quote')
						em 
							q AKPsi taught me how much I love helping others and being a mentor to younger students. It gave me the confidence to market myself as a professional. I attribute many of the internships I held in college and my first full-time job to the experiences I gained in AKPsi.
					p(class='author align-right') - Rebecca Sullivan, Founding Class
						br
						| Staffing Services Associate, Recruiting at Google
			div.col-sm-4(class='top-bot-space')
				div
					img.img-responsive(src='/assets/images/companies/broadcom.png')
				strong
					p(class='quote')
						em
							q I joined AKPsi to expand my network and enrich my college experience, as well as to learn civilian aspects of management and business. AKPsi allowed me to learn different aspects of teamwork and leadership.
					p(class='author align-right') - Joshua Paik, Gamma Class
						br
						| Layout Design Engineer, Broadcom

		div.row
			div.col-md-12(class='top-bot-space')
				h4
					strong Applications for Fall 2016 Recruitment are coming soon
				p
					i Sign up for our mailing list! We'll keep you updated!
				form(method='POST', action='/recruitment', role='form')
					div.form-group
						input.form-control(class='newsletter-email', type='email', name='email', autocomplete='off' placeholder='Enter your email here')
					button.btn.btn-default(type='submit') Submit

	include ./includes/footer.pug
