doctype html
html

	include ./includes/header.pug

	body

		include ./includes/navigation.pug

		div.container-fluid.main

			div.container-fluid(class="parallax open-sans recruitment")
				div.row(class="text-center")
						div.col-md-12
							h1.header 
								b Fall 2016 Rush Week Coming Soon!

			div.container(class="top-bot-space text-center")
				div.row
					div.col-md-12
						p
							strong Applications for Fall 2016 Recruitment are coming soon
						p(class="top-space")
							i Sign up for our mailing list! We'll keep you updated!
						form(method="POST", action="/recruitment", role="form")
							div.form-group
								input.form-control(class="newsletter", type="email", name="email", autocomplete="off" placeholder="Enter your email here")
							button.btn.btn-default(type="submit") Submit


			include ./includes/footer.pug

