extends layout

block content
	div.container(class='top-bot-space')
		div.row(class='text-center')
			div.col-sm-4(class='top-bot-space')
				div
					img.img-responsive(src='/assets/images/companies/disney.png')
				strong
					p(class='quote')
						em
							q AKPsi has taught me how to draft resumes and how to develop my interview skills. it has also taught me brotherhood and how to be reliable, so I can always be there for my brothers when they need me most.
					p(class='author align-right') - Carin Crayne, Zeta Class
						br
						| Undergraduate Associate, Marvel Licensing at Disney
			div.col-sm-4(class='top-bot-space')
				div
					img.img-responsive(src='/assets/images/companies/google-logo.png')
				strong
					p(class='quote')
						em 
							q AKPsi taught me how much I love helping others and being a mentor to younger students. It gave me the confidence to market myself as a professional. I attribute many of the internships I held in college and my first full-time job to the experiences I gained in AKPsi.
					p(class='author align-right') - Rebecca Sullivan, Founding Class
						br
						| Staffing Services Associate, Recruiting at Google
			div.col-sm-4(class='top-bot-space')
				div
					img.img-responsive(src='/assets/images/companies/broadcom.png')
				strong
					p(class='quote')
						em
							q I joined AKPsi to expand my network and enrich my college experience, as well as to learn civilian aspects of management and business. AKPsi allowed me to learn different aspects of teamwork and leadership.
					p(class='author align-right') - Joshua Paik, Gamma Class
						br
						| Layout Design Engineer, Broadcom

		div.row(class='text-center')
			div.col-xs-12-
				p 
					em Click <a href="/brothers/alumni" class='lightbase'>here</a> to see more testimonies

		div.row(class='text-center')
			div.col-md-12(class='top-bot-space')
				h4
					strong Applications for Fall 2016 Recruitment are coming soon
				p
					i Sign up for our mailing list! We'll keep you updated!
				form(method='POST', action='/recruitment', role='form')
					div.form-group
						input.form-control(class='newsletter-email', type='email', name='email', autocomplete='off' placeholder='Enter your email here')
					button.btn.btn-default(type='submit') Submit

		div.row(class='top-bot-space')
			div.col-md-12(class='text-center')
				h3 Rush Requently Asked Questions
					br
					p (From UC Davis' Chapter)
			div.col-md-10.col-md-offset-1(class='top-space')
				h4 Q: What is rush?
				p Rush is a series of events over a week to allow potential rushees the opportunity to learn more about Alpha Kappa Psi while in turn allowing the Active Brothers to learn more about interested candidates.
			div.col-md-10.col-md-offset-1(class='top-space')
				h4 Q: What is Alpha Kappa Psi?
				p One of two professional business fraternities on campus, Alpha Kappa Psi offers much more than professional development and social networking. The Active Brothers of Alpha Kappa Psi are successful students motivated to achieve even greater accomplishments, in and out of the work place. Alumni Brothers lead interesting and rewarding careers. Alpha Kappa Psi also appreciates the contributions by every major toward business, proved by our open-major rush. We invite you to learn more about the fraternity at our upcoming rush events.
			div.col-md-10.col-md-offset-1(class='top-space')
				h4 Q: Do I have to be a business-oriented major to apply?
				p Absolutely not. Alpha Kappa Psi recognizes the universal nature of business. Professionalism is required of all industries. Alpha Kappa Psi is open to all majors.
			div.col-md-10.col-md-offset-1(class='top-space')
				h4 Q: How is Alpha Kappa Psi different from other business fraternities?
				p Alpha Kappa Psi offers a wide range of opportunities, allowing our Active Brothers to excel where they choose. Because Alpha Kappa Psi is open to all majors, the breadth of knowledge gained and shared by the Active Brothers and Alumni Brothers allow us to offer innovative perspectives on business and beyond.
			div.col-md-10.col-md-offset-1(class='top-space')
				h4 Q: Is attending all the rush events required?
				p Although attendance to rush events is voluntary, it is highly encouraged that serious applicants attend all rush events. Due to the high traffic of our rush, it is difficult to remember every rush candidate. The more interactions an individual has with our fraternity, the more he or she can learn about Alpha Kappa Psi and the more we can learn about him or her.
			div.col-md-10.col-md-offset-1(class='top-space')
				h4 Q: What type of rush candidates are you looking for?
				p There is no pre-set image of the ideal rush candidate as we recognize the different contributions that various individuals can make. However, we are still looking for highly motivated scholars that not only work well independently, but within a group as well. Potential, as well as present qualities, is a determining factor in the bid process.
			div.col-md-10.col-md-offset-1(class='top-space')
				h4 Q: If I do not get a bid the first time, can I rush again?
				p It is highly encouraged that a rush candidate apply again if he or she did not receive a bid the first time. Determination and personal refinement are valued traits in rush candidates.


	include ./includes/backtotop.pug
	include ./includes/footer.pug
