doctype html
html

	include ./includes/header.pug

	body

		include ./includes/navigation.pug

		div.container-fluid.main

			//First Parallax
			div.container-fluid(class="parallax open-sans recruitment")
				div.row(class="text-center")
						div.col-md-12
							h1.header(class="font-lg") 
								b Fall 2016 Rush Week Coming Soon!
		
		include ./includes/scripts.pug

		//
			div.container(class="top-bot-space text-center")
				div.row
					div.col-md-12
						p
							strong The application for Spring 2016 Recruitment is now closed. Applications for Fall 2016 Recruitment are coming soon
						p(class="top-space")
							i Sign up for our mailing list! We'll keep you updated!
						form(method="POST", action="/users/newsletter", role="form")
							div.form-group
								input.form-control(class="newsletter", type="email", name="email", value="Enter your email here")
							button.btn.btn-default(type="submit") Submit
						p(class="top-space") Curious about recruitment? Want to see what we are working on? Follow us on our various social media channels.
						ul.fa-ul.social
							li.facebook
								a(href="https://www.facebook.com/csulb.akpsi/?fref=ts", target="_blank")
									i.fa.fa-facebook-square.fa-2x
							li.twitter
								a(href="https://twitter.com/CSULBAKPsi", target="_blank")
									i.fa.fa-twitter.fa-2x
							li.instagram
								a(href="https://www.instagram.com/csulbakpsi/", target="_blank")
									i.fa.fa-instagram.fa-2x
						h4 We look forward to meeting you at our next event!

			//Second Parallax
			div.container-fluid(class="parallax open-sans rush align-right")
				div.container
					h1(class="font-lg") 
						b What is Rush?
					p 
						b Rush week, more officially known as recruitment week, is the period of time when fraternities and sororities recruit students to their respective Greek organizations. Rush week usually happens during the beginning of the semester. During rush, fraternities and sororities have slightly different practices, but they all involve students getting to know more about Greek life. Fraternities then give “bids,” - invitations to join the fraternity - to students they want as pledges. Students can then pledge to join and go through an initiation process to become a full member or they can refuse the bid.

			div.container(class="top-bot-space text-center")
				div.row
					div.col-md-6
						img.img-responsive(class="img-circle" src="/assets/images/akpsi-hoodie.jpg")
					div.col-md-6
						h2(class="gold raleway float-right align-right font-md")
							b Membership
						p(class="top-space", style="clear:right;") As a member of Alpha Kappa Psi, you will become a better, more focused candidate for jobs and networking opportunities. There are many chances where you can to learn and grow professional and personally as well as find a group of people you can call your brothers for the rest of your life.

			div.row(class="top-bot-space")
				div.col-md-12
					img.img-responsive(src="/assets/images/csulb-map.jpg", alt="CSULB Map", title="CSULB Map")

			div.container(class="top-bot-space")
				div.row(class="text-center")
					div.col-md-12
						h2(class="gold raleway font-md") 
							b Rush Frequently Asked Questions
							br
							span(style="font-size:12px;") 
								b (From UC Davis' Chapter)
				div.row
					div.col-md-12(class="top-space")
						h4.blue Q: What is rush?
						p Rush is a series of events over a week to allow potential rushees the opportunity to learn more about Alpha Kappa Psi while in turn allowing the Active Brothers to learn more about interested candidates.
					div.col-md-12(class="top-space")
						h4.blue Q: What is Alpha Kappa Psi?
						p One of two professional business fraternities on campus, Alpha Kappa Psi offers much more than professional development and social networking. The Active Brothers of Alpha Kappa Psi are successful students motivated to achieve even greater accomplishments, in and out of the work place. Alumni Brothers lead interesting and rewarding careers. Alpha Kappa Psi also appreciates the contributions by every major toward business, proved by our open-major rush. We invite you to learn more about the fraternity at our upcoming rush events.
					div.col-md-12(class="top-space")
						h4.blue Q: Do I have to be a business-oriented major to apply?
						p Absolutely not. Alpha Kappa Psi recognizes the universal nature of business. Professionalism is required of all industries. Alpha Kappa Psi is open to all majors.
					div.col-md-12(class="top-space")
						h4.blue Q: How is Alpha Kappa Psi different from other business fraternities?
						p Alpha Kappa Psi offers a wide range of opportunities, allowing our Active Brothers to excel where they choose. Because Alpha Kappa Psi is open to all majors, the breadth of knowledge gained and shared by the Active Brothers and Alumni Brothers allow us to offer innovative perspectives on business and beyond.
					div.col-md-12(class="top-space")
						h4.blue Q: Is attending all the rush events required?
						p Although attendance to rush events is voluntary, it is highly encouraged that serious applicants attend all rush events. Due to the high traffic of our rush, it is difficult to remember every rush candidate. The more interactions an individual has with our fraternity, the more he or she can learn about Alpha Kappa Psi and the more we can learn about him or her.
					div.col-md-12(class="top-space")
						h4.blue Q: What type of rush candidates are you looking for?
						p There is no pre-set image of the ideal rush candidate as we recognize the different contributions that various individuals can make. However, we are still looking for highly motivated scholars that not only work well independently, but within a group as well. Potential, as well as present qualities, is a determining factor in the bid process.
					div.col-md-12(class="top-space")
						h4.blue Q: If I do not get a bid the first time, can I rush again?
						p It is highly encouraged that a rush candidate apply again if he or she did not receive a bid the first time. Determination and personal refinement are valued traits in rush candidates.

				div.row(class="text-center top-space")
					div.col-md-12
						h4(class="blue") HAVE ANY QUESTIONS THAT AREN'T ANSWERED HERE?
							br
							|	PLEASE CONTACT THE FOLLOWING INDIVIDUALS FOR MORE INFORMATION OR ANY INQUIREIES.

				div.row(class="text-center top-space")
					div.col-md-4.col-md-offset-2
						h4 Vice President of Membership
							br
							|	Darrin Nguyen
							br
							|	+1-714-653-5757
							br
							|	membership.csulb.akpsi@gmail.com
					div.col-md-4
						h4 Director of Marketing
							br
							|	Vivian To
							br
							|	+1-323-303-0109
							br
							|	csulb.akpsi@gmail.com

			include ./includes/backtotop.pug
			include ./includes/footer.pug
