/* Table of Contents
------------------------------------------------------------------------------
- General Content
- Typography
- Header & Navigation
- Images & Media
- Footer & Icons
- Media Queries
------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------
------------------------------ GENERAL CONTENT ---------------------------------
------------------------------------------------------------------------------*/
.top-space {      
  margin-top: 25px;
}

.bottom-space {
	margin-bottom: 5em;      
}                             

.top-bot-space {          
	margin-top: 5em;
	margin-bottom: 5em;
}

.float-left {
  float: left;
}

.float-right {
	float: right;
}

.align-right {
    text-align: right;
}

.align-left {
  text-align: left;
}

.newsletter {
  width: 38%;
  margin: 0 auto;
}

.homeBtnLink {
  text-decoration: none;
}

.homeBtn {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.homeBtn:hover {
  opacity: 0.7;
}
/*------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------
--------------------------------- TYPOGRAPHY -----------------------------------
------------------------------------------------------------------------------*/
.navbar li a, 
.navbar .navbar-brand {
	color: #000000;
	font-size: 1.2em;
	padding-top: 25px;
}

.black {
  color: #000000;
}

.gold {
	color: #8B7500;
}

.blue {
	color: #000080;
}

.white {
	color: #FFFFFF;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.open-sans{
  font-family: 'Open Sans', sans-serif;
}

.abril-fatface {
  font-family: 'Abril Fatface', cursive;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-lg {
	font-size: 4.18em;
}

.font-md {
  font-size: 2.5em;
}

.header {
  font-size: 5em;
}

.subheader {
  font-size: 3.5em;
}

q {
  quotes: '"' '"';
}

body {
  font-family: 'Montserrat', sans-serif;
}

a#backtotop {
	color: black;
	text-decoration: none;
}
/*------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------
-------------------------- HEADER & NAVIGATION ---------------------------------
------------------------------------------------------------------------------*/
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

.navbar-header {
	padding-left: 14px;
}

ul.nav {
	margin-right: 14px;
}
/*------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------
------------------------------ IMAGES & MEDIA ----------------------------------
------------------------------------------------------------------------------*/
/*Banner images are 2000 x 1200*/
.img-responsive {
    margin: 0 auto;
    margin-top:25px;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

a.img-responsive:link,
a.img-responsive:visited,
a.img-responsive:hover,
a.img-responsive:active {
  text-decoration: none;
}
/*------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------
----------------------------- FOOTERS & ICONS ----------------------------------
------------------------------------------------------------------------------*/
ul.social {
	display: block;
	margin: 5% 0;
	list-style-type: none;
	text-align: center;
}
ul.social li {
	font-size: 2em;
	display: inline;
	padding: 0 2%;
}

ul.social li.facebook a {
	color: rgb(59, 89, 152);
}

ul.social li.instagram a {
	color: rgb(81, 127, 237);
}

ul.social li.twitter a {
    color: rgb(29, 202, 255);
}
/*------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------
-------------------------------- PARALLAX --------------------------------------
------------------------------------------------------------------------------*/
.home,
.recruitment,
.about,
.brothers {
    background:transparent;
}
/*------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------
----------------------------- MEDIA QUERIES ------------------------------------
------------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {

    .map-responsive {
        display: none;
    }

    .top-bot-space {
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .navbar-brand {
        position: relative;
        bottom: 10px;
    }

    .footer {
        font-size: 8px;
    }

    .newsletter {
        width: 70%;
    }

    hr {
        width: 75%;
    }

}

@media (max-width: 767px) {

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #ffffff;
    }

}
/*------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
