/* Table of Contents
------------------------------------------------------------------------------
- General Content
- Typography
- Header & Navigation
- Images & Media
- Footer & Icons
- Media Queries
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
------------------------------ GENERAL CONTENT ---------------------------------
------------------------------------------------------------------------------*/
.top-space {  
  position: relative;      
  margin-top: 40px;
}

.bottom-space {
  position: relative;  
  margin-bottom: 40px;      
}                             

.top-bot-space {
  position: relative;       
  margin-top: 40px;
  margin-bottom: 40px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.newsletter-email {
  width: 25%;
  margin: 0 auto;
}

.biographies {
  margin-top: 55px;
}



/*------------------------------------------------------------------------------
--------------------------------- TYPOGRAPHY -----------------------------------
------------------------------------------------------------------------------*/
body, p {
  font-size: 16px;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 28px;
}

.author {
  font-size: 13px;
  margin: 0;
}

.remove-margin {
  margin: 1px;
}

.biographies p,
.quote {
  font-size: 14px;
}

.testimony {
  border: 2px solid #bdc3c7;
  margin-right: 20px;
  padding: 10px;
}

.darkbase {
  color : #175781;
}

.lightbase {
  color: #8bc4ea;
}

.base {
  color: #3498db;
}

.secondary {
  color: #f1c40f;
}

.silver {
  color: #bdc3c7;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

q {
  quotes: '"' '"';
}

a#backtotop {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #8bc4ea;
  text-decoration: underline;
}

button.btn.btn-default {
  background-color: #f1c40f;
  color: #FFF;
}

button.btn.btn-default:hover {
  opacity: 0.8;
}



/*------------------------------------------------------------------------------
-------------------------- HEADER & NAVIGATION ---------------------------------
------------------------------------------------------------------------------*/
.parallax-window {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
  background-image: -moz-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
  background-image: -o-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
  position: relative;
  width: 100%;
}

.navbar {
  z-index: 9999;
}

.navbar-nav li a,
.navbar-nav li.dropdown ul.dropdown-menu li a,
.navbar-header .navbar-brand {
  background-color: initial;
  color: #fff;
  font-size: 18px;
  padding-top: 25px;
}

.navbar-nav li.dropdown a.dropdown-toggle {
  background-color: transparent;
}

.navbar-nav li.dropdown ul.dropdown-menu {
  background-color: #bdc3c7;
}

.navbar-nav li.dropdown ul.dropdown-menu li.active a {
  padding: 10px;
}

.navbar-nav li.dropdown a.dropdown-toggle span.caret {
  margin-left: 5px;
  margin-bottom: 5px;
}

.navbar-header .navbar-brand:hover,
.navbar-nav li a:hover {
  background-color: initial;
  opacity: 0.7;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.title {
  width: 90%;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) }
  
div.container-fluid.social {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.container-fluid.social ul.social li {
  padding-left: 20px;
}

/*------------------------------------------------------------------------------
------------------------------ IMAGES & MEDIA ----------------------------------
------------------------------------------------------------------------------*/
/*Banner images are 2000 x 1200*/
.img-responsive {
  margin: 0 auto;
  margin-top: 10px;
}

.map-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

a.img-responsive:link,
a.img-responsive:visited,
a.img-responsive:hover,
a.img-responsive:active {
  text-decoration: none;
}



/*------------------------------------------------------------------------------
----------------------------- FOOTERS & ICONS ----------------------------------
------------------------------------------------------------------------------*/
ul.social {
  position: relative;
  bottom: 20px;
  list-style-type: none;
  text-align: center;
}

ul.social li {
  position: relative;
  right: 25px;
  font-size: 2em;
  display: inline;
  padding-left: 10px;
}

ul.social li.facebook a {
  color: rgb(59, 89, 152);
}

ul.social li.instagram a {
  color: rgb(81, 127, 237);
}

ul.social li.twitter a {
  color: rgb(29, 202, 255);
}

ul.social li a:hover {
  opacity: 0.8;
}



/*------------------------------------------------------------------------------
----------------------------- MEDIA QUERIES ------------------------------------
------------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
    .top-space {      
      margin-top: 30px;
    }

    .bottom-space {
      margin-bottom: 30px;      
    }                             

    .top-bot-space {          
      margin-top: 30px;
      margin-bottom: 30px;
    }

    body, p {
      font-size: 14px;
    }

    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 30px;
    }

    h3 {
      font-size: 24px;
    }

    .navbar .collapse {
      background-color: #fff;
      opacity: 0.9;
    }

    .navbar .collapse ul li a,
    .navbar .collapse ul li.dropdown ul.dropdown-menu li.active a{
      color: #000;
    }
    .navbar-brand {
      position: relative;
      bottom: 10px;
    }

    div.container-fluid.social {
      display: none;
    }

    .map-responsive {
      display: none;
    }

    .newsletter-email {
      width: 70%;
    }

    hr {
      width: 75%;
    }

    .testimony {
      border: none;
    }
}
